@import "../styles/styles.scss";

.suggestions {
  
  ul {
    position: fixed;
    width: 100%;
    margin-top: 20px;
    margin-right: 50px;
    padding-top: 20px;
    height: 100%;
    padding-right: 50px;
    @include shadow;
    @include breakpoint(947px){
      display: none;
    }
  }
  
}


.link {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
 
}

li {
    padding: 10px 0;
}

.link:link {
    color: black;
  }

.link:visited {
    color: black;
  }
 

.link:hover {
    color: $mediumPink;
  }

.link:active {
  color: $lightPink;
}


  

