@import "../styles/styles.scss";

.suggestions {
  padding: 20px 20px 20px 10px;
  ul {
    padding-left: 0;
  }
  
}


.link {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
 
}

li {
    padding: 5px 0;
}

.link:link {
    color: black;
  }

.link:visited {
    color: black;
  }
 

.link:hover {
    color: $mediumPink;
  }

.link:active {
  color: $lightPink;
}


  

