@import '../styles/styles.scss';

.article {
    padding: 20px 0;
    border-bottom: 5px outset $lightPink;
}

.topRow{
 display: flex;
 flex: 1 1 100%;
.score {
    display: flex;
    flex: 1 1 10%;
    color: $mediumPink
}
.title {
    flex: 1 1 80%;
    font-style: italic;
}
}


.middleRow {
    display: flex;
    img {
        max-width: 100%;
        
    }
}

.bottomRow {
    display: flex;
    flex: 1 1 100%;
    .indent {
        flex: 1 1 10%;
    }
    .details {
        display: flex;
        flex: 1 1 80%;
        justify-content: space-between;
        color: $darkPink;
       > * {
        padding-right: 10px;
        
       }
    }
}