.article {
  padding: 20px 20px 20px 0;
  margin: 20px 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1300px) {
  .article {
    padding-right: 10px;
  }
}
@media (max-width: 500px) {
  .article {
    padding: 15px 7px 15px 0;
  }
}
.article:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.article-top-row {
  display: flex;
  flex: 1 1 100%;
}
.article-top-row .article-score {
  flex: 1 1 10%;
}
.article-top-row .article-title {
  flex: 1 1 90%;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .article-top-row {
    display: flex;
    flex: 1 1 100%;
  }
  .article-top-row .article-score {
    flex: 1 1 15%;
  }
  .article-top-row .article-title {
    flex: 1 1 85%;
    justify-content: space-between;
  }
}
.article-score div {
  color: grey;
  text-align: center;
  padding: 0 20px;
  font-size: 1.25rem;
}
@media (max-width: 1300px) {
  .article-score div {
    font-size: 1.2rem;
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
  .article-score div {
    padding: 0 7px;
  }
}
@media (max-width: 400px) {
  .article-score div {
    font-size: 0.9rem;
  }
}
.article-title {
  font-style: italic;
  font-size: 1.5rem;
}
.article-middle-row {
  display: flex;
  flex: 1 1 100%;
}
.article-middle-row .article-indent {
  flex: 1 1 10%;
}
.article-middle-row .article-media {
  flex: 1 1 90%;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .article-middle-row {
    display: flex;
    flex: 1 1 100%;
  }
  .article-middle-row .article-indent {
    flex: 1 1 15%;
  }
  .article-middle-row .article-media {
    flex: 1 1 85%;
    justify-content: space-between;
  }
}
.article-middle-row img,
.article-middle-row video {
  max-width: 100%;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.article-bottom-row {
  display: flex;
  flex: 1 1 100%;
}
.article-bottom-row .article-indent {
  flex: 1 1 10%;
}
.article-bottom-row .article-details {
  flex: 1 1 90%;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .article-bottom-row {
    display: flex;
    flex: 1 1 100%;
  }
  .article-bottom-row .article-indent {
    flex: 1 1 15%;
  }
  .article-bottom-row .article-details {
    flex: 1 1 85%;
    justify-content: space-between;
  }
}
.article-details {
  display: flex;
  border-top: 1px solid grey;
}
.article-details > * {
  padding-right: 0px;
  padding-top: 10px;
}
.article-details-item-1 {
  flex: 1 1 70%;
  color: #EE4C7C;
}
@media (max-width: 1096px) {
  .article-details-item-1 {
    flex: 1 1 60%;
  }
}
@media (max-width: 500px) {
  .article-details-item-1 {
    flex: 1 1 50%;
  }
}
.article-details-right {
  display: flex;
  flex: 1 1 30%;
  justify-content: space-between;
  color: grey;
}
@media (max-width: 1096px) {
  .article-details-right {
    flex: 1 1 40%;
  }
}
@media (max-width: 500px) {
  .article-details-right {
    flex: 1 1 50%;
    justify-content: space-around;
  }
}
.article-details-item-3, .article-details-item-2 {
  padding-left: 5px;
}
.article-comments-link, .article-no-comments-link {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #EE4C7C;
}
.article-no-comments-link {
  opacity: 0.5;
  cursor: not-allowed;
}
.article-comments-link:visited {
  color: #9A1750;
}
.article-comments-link:hover {
  color: #E3AFBC;
  cursor: pointer;
}
.article-comments-link:active {
  color: grey;
}/*# sourceMappingURL=Article.css.map */