@import "../styles/styles.scss";

.article {
  padding: 20px 20px 20px 0;
  @include shadow;
  margin: 20px 0;
}

.article:hover {
  @include hoverShadow;
}

.topRow {
    padding-bottom: 10px;
  @include flex1080(score, title);
 
  
  .score {
    color: grey;
    text-align: center;
    
    
  }
  .title {
    font-style: italic;
    font-size: 1.5rem;
  }
}

.middleRow {
  @include flex1080(indent, image);

  img {
    max-width: 100%;
    padding-bottom: 10px;
    margin-bottom: 8px
  }
}

.bottomRow {
  @include flex1080(indent, details);
 
  .details {
    display: flex;
    
    border-top: 1px solid grey;
    > * {
      padding-right: 0px;
      padding-top: 10px;
      // @include breakpoint(1235px){
      //   padding-right: 0px;
      // }
    }
  }
}

.detailsItem1 {
  flex: 1 1 70%;
  color: $mediumPink;
  @include breakpoint(1096px){
    flex: 1 1 60%;
  }
}

.detailsRight {
  display: flex;
  flex: 1 1 30%;
  justify-content: space-between;
  color: grey;
  @include breakpoint(1096px){
        flex: 1 1 40%;
}
}


.commentsLink {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: $mediumPink;
}

.commentsLink:visited {
  color: $darkPink;
}

.commentsLink:hover {
  color: $lightPink;
  cursor: pointer;
}

.commentsLink:active {
  color: grey;
}
