

html {


    @media (max-width: 1340px) {
        font-size: 14px;
    }

    @media (max-width: 800px) {
        font-size: 10px;
    }

    @media (max-width: 700px) {
        font-size: 9px;
    }
}