@import "../styles/styles.scss";

.commentContainer {
    padding: 15px 20px;
    margin: 10px 0;
    background-color: #fcfcfc;
    @include shadow;
    
}

.commentContainer:hover {
  @include hoverShadow;
}

.topRow,
.bottomRow {
  @include flex1080(commentIndent, commentDetails);
  
}

.author {
  color: $mediumPink;
}

.created, .comment {
  color: grey;
}

.created {
  font-style: italic;
}
 