@import "../styles/styles.scss";

.commentContainer {
  @include flex1080(commentIndent, commentSection);
}

.commentSection {
  padding: 15px 20px;
  margin: 10px 0;
  background-color: $commentWhite;
  @include shadow;
  .topRow {
    display: flex;
    justify-content: space-between;
  }
}

.commentSection:hover {
  @include hoverShadow;
}

.author {
  color: $mediumPink;
}

.created,
.comment {
  color: $grey;
}

.created {
  font-style: italic;
  padding-left: 5px;
}
