@import "../styles/styles.scss";

.commentSection {
    padding: 15px 20px;
    margin: 10px 0;
    background-color: #fcfcfc;
    @include shadow;
    .topRow {
      display: flex;
      justify-content: space-between;
    }
}

.commentSection:hover {
  @include hoverShadow;
  
}

.commentContainer {
  @include flex1080(commentIndent, commentSection);
  
}

.author {
  color: $mediumPink;
}

.created, .comment {
  color: grey;
}

.created {
  font-style: italic;
}
 