@import "../styles/styles.scss";

.mainPage {
    @include flex;
    
   
}

.mainPage > *:nth-child(1) {
    @include flex70;
    @include leftPadding;
    margin-top: 70px;
    @include breakpoint(860px){
        flex: 1 1 100%;
    max-width: 100%;
    }
}

.mainPage > *:nth-child(2) {
    @include flex30;
    color: $mainBackground;
    margin-top: 70px;

    @include breakpoint(860px){
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: $lightPink;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        .active {
            left:0;
        }
      }
    
}