@import "../styles/styles.scss";

.mainPage {
    display: flex;
    flex-wrap: wrap;
}

//articles
.mainPage > *:nth-child(1) {
    @include flex70;
    @include leftPadding;
    padding-right: 50px;
    margin-top: 70px;
    @include breakpoint(947px){
        flex: 1 1 100%;
    max-width: 100%;
    }
    @include breakpoint(500px){
        padding: 0 10px;
    }
}

//subreddit suggestions
.mainPage > *:nth-child(2) {
    @include flex30;
    color: $white;
    margin-top: 70px;    
}