@import "./variables";

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}
    
@mixin flex70 {
    flex: 1 1 80%;
    max-width: 80%;
    background-color: white;
}

@mixin flex30 {
    flex: 1 1 20%;
    background-color: white;
   
}

@mixin leftPadding {
    padding: 10px 20px 10px 50px;
}

@mixin rightPadding {
    padding: 10px 50px 10px 20px;
}

@mixin flex1080($item10, $item80){
    
        display: flex;
        flex: 1 1 100%;
        .#{$item10} {
            display: flex;
            flex: 1 1 10%;
        };
        .#{$item80} {
            display: flex;
            flex: 1 1 90%;
            justify-content: space-between;
        };
    }

@mixin shadow {
    
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 10px 1px rgb(213, 213, 213);
}

@mixin hoverShadow {
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 18px 5px rgb(234, 234, 234);
}
