@import "../styles/styles.scss";

.header {
  @include flex;
  align-items: stretch;
  height: 100%;
  box-shadow: 10px 10px;
}

h1 {
  @include flex70;
  @include leftPadding;
  background-color: white;
  
  .pink {
    color: $mediumPink;
  }
  .black {
    color: black;
  }
}

form.inputContainer {
  @include flex30;
  @include rightPadding;
  input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: grey;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

form.inputContainer button:hover {
  background: $mediumPink;
}

/* Clear floats */
form.inputContainer::after {
  content: "";
  clear: both;
  display: table;
}

input {
  
  width: 100%;
}
