@import "../styles/styles.scss";

.header {
    @include flex;
    align-items:stretch;
    height: 100%;
}

h1 {
    color: black; 
    @include flex70;
    @include leftPadding;
    background-color: $mainBackground;
    margin-bottom: 0 !important;
}

.inputContainer {
    @include flex30;
    @include rightPadding;  
    

}

input {
    color: $mainBackground;
    width: 100%;
    
}




